.animal {
  text-align: center;
  border-radius: 30px;
  border: double 10px  white;
  background-color: rgb(251, 233, 217);
  margin: 7rem;
  width:70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  color: lightskyblue;
}

.animal > * {
  align-self: center;
}

.name {
  margin: 20px;
  margin-bottom: 10px;
}

.ribbon > * {
  border: 5px solid transparent;
  border-bottom: 5px solid transparent;
  width: 0px;
  height: 50px;
  position: relative;
  top: -45px;
  transition: 0.2s;
}

.bookmarked .ribbon {
  border: 20px solid rgb(246, 183, 165);
  border-bottom: 20 px solid transparent;
}

.bookmark-button {
  border: 2px lightskyblue solid;
  background: none;
  font-size: 1.2em;
  color: lightskyblue;  font-weight: bolder;
  text-transform: lowercase;
  transition: 0.2s;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.bookmark-button:hover {
  background-color: white;
  color: rgb(255, 228, 185);
}

.delete-button {
  background-color: rgb(150, 184, 252);
  margin-bottom: 2rem;
  border: 2px rgb(150, 184, 252) solid;
  border-radius: 3px;
  color: white;
}
.img {
  width: 330px;
  height: 270px;
}